<!DOCTYPE html>
<html ng-app='BlocJams'>
<head>
  <title>Bloc Jams</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'http://cdn.socket.io/socket.io-1.1.0.js' %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller='<%= yield(:body_class).capitalize %>Controller' class="<%= yield(:body_class) %>">
  <nav class='player-header-nav navbar'>
    <div class="container">
      <div class='navbar-header'>
        <a class='logo navbar-left'>
          <%= image_tag "blocjams.png" %>
        </a>
      </div>
    </div>
  </nav>

  <%= yield %>

</body>
</html>